<% if @comment.destroyed? %>
  var $userCmnt = $('.js-user-comments-count');
  var $postCmnt = $('.js-post-comments-count');

  $('#comment-' +<%= @comment.id %>).fadeOut().remove();

  if ($userCmnt.length > 0){
    $('.js-user-comments-count').html("<%= pluralize(@comment.user.comments.count, 'comment') %>");
  }
  if ($postCmnt.length > 0){
    $('.js-post-comments-count').html("<%= pluralize(@post.comments.count, 'comment') %>");
  }
  //
<% else %>
  $('#comment-' +<%= @comment.id %>).prepend("<div class='alert alert-error'><%= flash[:error] %></div>");
<% end %>